{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}'s Homepage</title>

</head>
<body>
<form action="/logout" method="post" >
    <button style="background-color:rgb(255,0,0);" type="submit"> log out
    </button>
</form>
<form action="/myProfile" method="post">
 <button style="background-color:rgb(255,0,0);" type="submit" >my profile </button>
</form>

<form action="/mySpace1" method = 'post'>
    <button style="background-color:rgb(255,0,0);" type="submit"> my space 1 </button>
</form>

<form action="/mySpace2" method = 'post'>
    <button style="background-color:rgb(255,0,0);" type="submit"> my space 2 </button>
</form>

<form action="/mySpace3" method = 'post'>
    <button style="background-color:rgb(255,0,0);" type="submit"> my space 3 </button>
</form>

<!--<h3 style="color:rgb(255,0,0);"> account created as {{username}} </h3>-->
<h3 style="color:rgb(255,0,0);"> {{note}}</h3>
<!--<button style="background-color:rgb(255,0,0);" type="submit" >my profile </button>-->
<br>
<br>
<textarea name="enterCode" style="background-color:rgb(255,0,0)"  id="enterCode1" rows="27" cols="66" placeholder="Enter code here" >
</textarea>

<form action="/runCode" method="post">
    <button style="background-color:rgb(255,0,0);" type="submit"> run the code </button>
</form>
<pre> {{print_output}} </pre>

<br>
</body>
</html>
{% endblock %}